/license1.txt
/license2.txt
/license3.txt
/rgss1_rtp_2005_10_08_agreed
/rgss2_rtp_2008_02_29_agreed
/rgss3_rtp_2012_03_15_agreed

/xp_rtp104e.exe
/vx_rtp102e.zip
/RPGVXAce_RTP.zip

/RPGVX_RTP/*
/RTP100/*

/xp_rtp/*
/vx_rtp/*
/vxace_rtp/*
